h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

body {
  background-image: fixed;
  background-color: #666;
  background-size: cover;
  background-position: center;
  background-image: url("./htmlcss-s01e02/images02/halloween-background.gif");
}

.container {
  background-color: #ddd;
  width: 800px;
  margin: 50px auto;
}

.header {
  background-image: url(./htmlcss-s01e02/images02/halloween-header-bg.png);
  color: white;
  height: 400px;
  text-align: center;
}
.header img {
  margin-top: 50px;
}
.header h1 {
  color: orangered;
  margin: 10px 0;
}
.header p {
  background-color: black;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  color: #888;
  border-radius: 10px;
  font-size: 14px;
}
.section_info {
  background-image: url("./htmlcss-s01e02/images02/icon-information.png");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.content .section {
  background-color: white;
  margin: 20px;
  padding: 20px;
}

.section h2 {
  color: orangered;
  margin-bottom: 10px;
}
.section li {
  border-left: 5px solid #ddd;
  padding: 6px 10px 4px;
}

.section li:hover {
  border-color: orangered;
  color: orangered;
  cursor: pointer;
}
.footer {
  background-color: #111;

  padding: 10px 0;
  text-align: center;
  color: #999;
  letter-spacing: 5px;
  /* text-indent: 5px; */
  font-size: 14px;
}
